.box.tabular
  %table
    %tr
      %td
        = avatar colleague, :size => 75
      %td{:valign => :top}
        = link_to_user colleague
        %br
        = mail_to colleague.mail
        - if colleague.job_title.present?
          %br
          = colleague.job_title
        - if colleague.phone.present?
          %br
          = colleague.phone

        - colleague.visible_custom_field_values.each do |custom_value|
          - if !custom_value.value.blank?
            %br
            =h show_value(custom_value)
        -#%table
          %tr
            %td= link_to_user colleague
          %tr
            %td= mail_to colleague.mail
          - colleague.visible_custom_field_values.each do |custom_value|
            - if !custom_value.value.blank?
              %tr
                %td=h show_value(custom_value)
