.box.tabular
  %table
    %tr
      %td
        = avatar colleague, :size => 75
      %td{:valign => :top}
        = link_to_user colleague
        %ul{style: "list-style: none; margin-left: 0px, 0px, 0px, -20px;"}          
          = profile_field_li(colleague, :job_title)
          = address_li(colleague)
          = mail_li(colleague)
          = phone_li(colleague)

        - colleague.visible_custom_field_values.each do |custom_value|
          - if !custom_value.value.blank?
            %br
            =h show_value(custom_value)
        -#%table
          %tr
            %td= link_to_user colleague
          %tr
            %td= mail_to colleague.mail
          - colleague.visible_custom_field_values.each do |custom_value|
            - if !custom_value.value.blank?
              %tr
                %td=h show_value(custom_value)
