.contextual
  = link_to l(:label_colleagues_list), {:view => :list}, :class => 'icon icon-test'

%h2=l(:label_colleague_plural)

= render :partial => "filters"

- colleague_indexes = (0...@colleagues.size).group_by{ |i| i%4 }

.splitcontentleft
  .splitcontentleft
    - (colleague_indexes[0] || []).each do |i|
      = render :partial => 'colleague', :locals => {:colleague => @colleagues[i]}
  .splitcontentright
    - (colleague_indexes[1] || []).each do |i|
      = render :partial => 'colleague', :locals => {:colleague => @colleagues[i]}
  %div{:style=>"clear:both"}
.splitcontentright
  .splitcontentleft
    - (colleague_indexes[2] || []).each do |i|
      = render :partial => 'colleague', :locals => {:colleague => @colleagues[i]}
  .splitcontentright
    - (colleague_indexes[3] || []).each do |i|
      = render :partial => 'colleague', :locals => {:colleague => @colleagues[i]}
  %div{:style=>"clear:both"}
%div{:style=>"clear:both"}

-#= content_for :sidebar do
  %p= link_to l(:button_clear), :action => :index
  %h2=l(:label_project_plural)
  - @memberships.map(&:project).each do |project|
    - if params[:project_id] == project.identifier
      %p= project.name
    - else
      %p= link_to project.name, :action => :index, :project_id => project.identifier
  %h2= t(:label_group_plural)
  - Group.all.each do |group|
    - if params[:group_id] == group.id.to_s
      %p= group.name
    - else
      %p= link_to group.name, :action => :index, :group_id => group.id
